<%- include('./partials/head.ejs') %>
<main class="max-w-7xl mx-auto px-5">
	<section class="items-end flex-1">
		<h2 class="text-3xl font-semibold mb-5 mt-10">Personal profile</h2>
		<div class="md:flex md:justify-center md:gap-5 md:items-stretch">
			<div
				class="block rounded-lg text-center border bg-white p-6 dark:bg-neutral-700 flex-1"
			>
				<div class="flex justify-center items-center mb-3 relative">
					<img
						id="avater"
						class="rounded-full min-w-52 w-52 align-middle"
						src="<%= user.applicant_details.avatar %>"
						alt="<%= user.username %>"
					/>
					<div class="image-upload absolute bottom-0 cursor-pointer w-10">
						<label for="file-input-avater" class="cursor-pointer">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="50"
								height="50"
								viewBox="0 0 48 48"
							>
								<g fill="none" stroke-linejoin="round" stroke-width="4">
									<path
										fill="#2F88FF"
										stroke="#2F88FF"
										d="M39 6H9C7.34315 6 6 7.34315 6 9V39C6 40.6569 7.34315 42 9 42H39C40.6569 42 42 40.6569 42 39V9C42 7.34315 40.6569 6 39 6Z"
									/>
									<path
										stroke="#fff"
										stroke-linecap="round"
										d="M32 28L24 20L16 28"
									/>
									<path stroke="#fff" stroke-linecap="round" d="M24 36V20.5" />
									<path stroke="#fff" stroke-linecap="round" d="M16 14H32" />
								</g>
							</svg>
						</label>
						<form class="" id="avatar-form">
							<input
								id="file-input-avater"
								class="hidden"
								type="file"
								accept=".jpeg,.jpg"
								name="avatar"
							/>
						</form>
					</div>
					<!-- <input
						type="file"
						placeholder="change"
						class="w-7 absolute bottom-0 cursor-pointer bg-neutral-500 "
					/> -->
				</div>
				<small class="flex justify-center" id="save-avater-container"> </small>

				<p class="text-lg"><%= user.first_name+" "+user.last_name %></p>
				<small><%= user.address %></small>
				<!-- Required font awesome -->
			</div>
			<div
				class="block rounded-lg border bg-white p-6 dark:bg-neutral-700 flex-auto pt-10"
			>
				<form id="personal-details">
					<div class="sm:flex gap-5">
						<!--First name input-->
						<div class="relative mb-6 flex-1" data-te-input-wrapper-init>
							<input
								type="text"
								class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
								id="exampleInput123"
								aria-describedby="emailHelp123"
								placeholder="First name"
								value="<%= user.first_name  %>"
								name="first_name"
							/>
							<label
								for="emailHelp123"
								class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
								>First name
							</label>
						</div>

						<!--Last name input-->
						<div class="relative mb-6 flex-1" data-te-input-wrapper-init>
							<input
								type="text"
								class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
								id="exampleInput124"
								aria-describedby="emailHelp124"
								placeholder="Last name"
								name="last_name"
								value="<%= user.last_name  %>"
							/>
							<label
								for="exampleInput124"
								class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
								>Last name
							</label>
						</div>
					</div>
					<div class="sm:flex gap-5">
						<!--Email input-->
						<div class="relative mb-6 flex-1" data-te-input-wrapper-init>
							<input
								disabled
								type="email"
								class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
								id="exampleInput125"
								placeholder="Email address"
								value="<%= user.email   %>"
							/>
							<label
								for="exampleInput125"
								class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-neutral-200"
								>Email address
							</label>
						</div>

						<!--Address input-->
						<div class="relative mb-6 flex-1" data-te-input-wrapper-init>
							<input
								type="text"
								class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
								id="exampleInput126"
								placeholder="Address"
								name="address"
								value="<%= user.address %>"
							/>
							<label
								for="exampleInput126"
								class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-neutral-200"
								>Address
							</label>
						</div>
					</div>
					<!--Submit button-->
					<div class="flex justify-end">
						<button
							id="update-pd"
							type="submit"
							class="inline-block w-full sm:w-fit s rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
							data-te-ripple-init
							data-te-ripple-color="light"
						>
							Save details
						</button>
					</div>
				</form>
			</div>
		</div>
	</section>
	<section class="items-end flex-1">
		<h2 class="text-3xl font-semibold mb-5 mt-10">Work information</h2>
		<div class="md:flex md:justify-center md:gap-5">
			<div
				class="block relative border rounded-lg text-center bg-white p-6 mb-5 dark:bg-neutral-700 flex-1"
			>
				<h2 class="text-xl font-semibold mb-5">CV / Resume</h2>
				<iframe
					id="view-cv"
					class=""
					src="<%= user.applicant_details.cv_resume_url %>"
					width="100%"
					height="500px"
				>
				</iframe>
				<div class="image-upload flex items-center justify-between me-10 mt-5">
					<label for="file-input-cv" class="cursor-pointer">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="50"
							height="50"
							viewBox="0 0 48 48"
						>
							<g fill="none" stroke-linejoin="round" stroke-width="4">
								<path
									fill="#2F88FF"
									stroke="#2F88FF"
									d="M39 6H9C7.34315 6 6 7.34315 6 9V39C6 40.6569 7.34315 42 9 42H39C40.6569 42 42 40.6569 42 39V9C42 7.34315 40.6569 6 39 6Z"
								/>
								<path
									stroke="#fff"
									stroke-linecap="round"
									d="M32 28L24 20L16 28"
								/>
								<path stroke="#fff" stroke-linecap="round" d="M24 36V20.5" />
								<path stroke="#fff" stroke-linecap="round" d="M16 14H32" />
							</g>
						</svg>
					</label>
					<form class="" id="cv-form">
						<input
							id="file-input-cv"
							class="hidden"
							type="file"
							accept=".pdf"
							name="cv_resume"
						/>
					</form>
					<button
						type="button"
						id="save-cv-btn"
						data-te-ripple-init
						data-te-ripple-color="light"
						class="hidden rounded bg-primary px-4 pb-[5px] pt-[6px] font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							fill="currentColor"
							class="mr-1 h-4 w-4"
						>
							<path
								fill-rule="evenodd"
								d="M19.5 21a3 3 0 003-3V9a3 3 0 00-3-3h-5.379a.75.75 0 01-.53-.22L11.47 3.66A2.25 2.25 0 009.879 3H4.5a3 3 0 00-3 3v12a3 3 0 003 3h15zm-6.75-10.5a.75.75 0 00-1.5 0v4.19l-1.72-1.72a.75.75 0 00-1.06 1.06l3 3a.75.75 0 001.06 0l3-3a.75.75 0 10-1.06-1.06l-1.72 1.72V10.5z"
								clip-rule="evenodd"
							/>
						</svg>
						Save
					</button>
				</div>
			</div>
			<div class="block dark:bg-neutral-700 flex-1">
				<div class="block rounded-lg border p-6 mb-5 bg-white">
					<h2 class="text-xl font-semibold mb-5">Work details</h2>
					<div>
						<div id="work-details">
							<div class="sm:flex gap-5">
								<!--Job field input-->
								<div class="mb-6 flex-1">
									<select
										class=""
										id="job-field-sel"
										data-te-select-init
										data-te-select-filter="true"
									>
										<% job_field.map(jf=>{ %>
										<option value="<%= jf %>"><%= jf %></option>
										<% }) %>
									</select>
									<label data-te-select-label-ref>Job field</label>
								</div>

								<!--Qualification input-->

								<div class="mb-6 flex-1">
									<select
										class=""
										id="qualifications-sel"
										data-te-select-init
										multiple
									>
										<% qualifications.map(qu=>{ %>

										<option value="<%= qu %>"><%= qu %></option>
										<% }) %>
									</select>
									<label data-te-select-label-ref>Qualifications</label>
								</div>
							</div>
							<!--skills input-->

							<div class="mb-6 flex-1">
								<div
									id="skil-set"
									data-te-chips-initial
									class="mb-0 min-h-[45px] border-none pb-0 shadow-none outline-none transition-all duration-300 ease-[cubic-bezier(0.25,0.1,0.25,1)] hover:cursor-text flex-1"
								></div>
							</div>
							<div class="sm:flex gap-5">
								<!--skill level input-->
								<div class="mb-6 flex-1">
									<select
										class=""
										id="skill-level-sel"
										data-te-select-init
										data-te-select-filter="true"
									>
										<% job_level.map(jf=>{ %>
										<option value="<%= jf %>"><%= jf %></option>
										<% }) %>
									</select>
									<label data-te-select-label-ref>Experience Level</label>
								</div>
							</div>

							<!--Submit button-->
							<div class="flex justify-end">
								<button
									id="update-pd"
									type="save"
									class="inline-block w-full sm:w-fit s rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
									data-te-ripple-init
									data-te-ripple-color="light"
								>
									Save details
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="block rounded-lg border p-6 mb-5 bg-white">
					<h2 class="text-xl font-semibold mb-5">Job preferences</h2>
					<div>
						<div id="job-pref">
							<div class="sm:flex gap-5">
								<!--location_type input-->
								<div class="mb-6 flex-1">
									<select class="" id="job-location-sel" data-te-select-init>
										<% ["remote", "on-site"].map(jf=>{ %>
										<option value="<%= jf %>"><%= jf %></option>
										<% }) %>
									</select>
									<label data-te-select-label-ref>Job location</label>
								</div>

								<!--work_schedule input-->
								<div class="mb-6 flex-1">
									<select class="" id="work-schedule-sel" data-te-select-init>
										<% work_schedule.map(jf=>{ %>
										<option value="<%= jf %>"><%= jf %></option>
										<% }) %>
									</select>
									<label data-te-select-label-ref>Work schedule</label>
								</div>
							</div>

							<div class="sm:flex gap-5">
								<!--preferred_job_type input-->
								<div class="mb-6 flex-1">
									<select
										class=""
										id="job-type-sel"
										data-te-select-init
										data-te-select-filter="true"
									>
										<% job_type.map(jf=>{ %>
										<option value="<%= jf %>"><%= jf %></option>
										<% }) %>
									</select>
									<label data-te-select-label-ref>Job type</label>
								</div>
							</div>

							<!--Submit button-->
							<div class="flex justify-end">
								<button
									id="save-job-pref"
									type="save"
									class="inline-block w-full sm:w-fit s rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
									data-te-ripple-init
									data-te-ripple-color="light"
								>
									Save details
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
<%- include('./partials/footer.ejs') %>

<script>
	const personDetailForm = document.querySelector("#personal-details");
	const avaterInput = document.querySelector("input#file-input-avater");
	const avaterImg = document.querySelector("#avater");
	const saveAvatarCont = document.querySelector("#save-avater-container");
	const cvInput = document.querySelector("input#file-input-cv");
	/**@type {HTMLIFrameElement} */
	const cvResumeView = document.querySelector("#view-cv");
	/**@type {HTMLButtonElement} */
	const saveCvBtn = document.querySelector("#save-cv-btn");

	avaterInput.addEventListener("change", (e) => {
		const formData = new FormData(document.querySelector("form#avatar-form"));

		const reader = new FileReader();

		reader.onload = function (e) {
			avaterImg.setAttribute("src", reader.result);
			saveAvatarCont.innerHTML = `<button
						type="button" id="save-avatar-btn"
						data-te-ripple-init
						data-te-ripple-color="light"
						class="flex rounded bg-primary px-4 pb-[5px] pt-[6px] font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							fill="currentColor"
							class="mr-1 h-4 w-4"
						>
							<path
								fill-rule="evenodd"
								d="M19.5 21a3 3 0 003-3V9a3 3 0 00-3-3h-5.379a.75.75 0 01-.53-.22L11.47 3.66A2.25 2.25 0 009.879 3H4.5a3 3 0 00-3 3v12a3 3 0 003 3h15zm-6.75-10.5a.75.75 0 00-1.5 0v4.19l-1.72-1.72a.75.75 0 00-1.06 1.06l3 3a.75.75 0 001.06 0l3-3a.75.75 0 10-1.06-1.06l-1.72 1.72V10.5z"
								clip-rule="evenodd"
							/>
						</svg>
						Save
					</button>`;

			document
				.querySelector("#save-avatar-btn")
				.addEventListener("click", () => {
					handleAvatarUpload(formData);
				});
		};
		// files[0]
		reader.readAsDataURL(formData.get("avatar"));
	});

	cvInput.addEventListener("change", (e) => {
		const formData = new FormData(document.querySelector("form#cv-form"));

		const reader = new FileReader();

		reader.onload = function (e) {
			cvResumeView.setAttribute("src", reader.result);
			saveCvBtn.classList.remove("hidden");
			saveCvBtn.classList.add("flex");

			saveCvBtn.addEventListener("click", () => {
				handleCvUpload(formData);
			});
		};
		// files[0]
		reader.readAsDataURL(formData.get("cv_resume"));
	});

	personDetailForm.addEventListener("submit", async (e) => {
		e.preventDefault();
		const url = "/api/applicant/personal-details";

		const formData = new FormData(e.target);
		// for (const key in data) {
		// 	formData.append(key, data[key]);
		// }

		const res = await (
			await fetch(url, {
				method: "put",
				headers: {},
				body: formData,
			})
		).json();

		console.log(res);
		if (!res.ok) {
			showToast({ duration: 5000, text: res.error.message, type: "error" });
			return;
		}
		showToast({ duration: 5000, text: res.message, type: "success" });
	});

	async function handleCvUpload(formData) {
		const url = "/api/applicant/cv-resume";
		console.log("Avatar:", formData, "File", formData.get("cv_resume"));
		const res = await (
			await fetch(url, {
				method: "put",
				headers: {},
				body: formData,
			})
		).json();

		console.log(res);
		if (!res.ok) {
			showToast({ duration: 5000, text: res.error.message, type: "error" });
			return;
		}
		showToast({ duration: 5000, text: res.message, type: "success" });
	}
	async function handleAvatarUpload(formData) {
		const url = "/api/applicant/avatar";
		console.log("Avatar:", formData, "File", formData.get("file"));
		const res = await (
			await fetch(url, {
				method: "put",
				headers: {},
				body: formData,
			})
		).json();

		console.log(res);
		if (!res.ok) {
			showToast({ duration: 5000, text: res.error.message, type: "error" });
			return;
		}
		showToast({ duration: 5000, text: res.message, type: "success" });
	}
</script>
<script>
	const workDetailsForm = document.querySelector("#work-details");

	// console.log(JSON.parse(`<%- user.applicant_details.qualifications %>`));
	const qualSelectInstance = te.Select.getInstance(
		document.querySelector("#qualifications-sel")
	);
	qualSelectInstance.setValue(
		JSON.parse(`<%- user.applicant_details.qualifications %>`)
	);
	console.log(JSON.parse(`<%- user.applicant_details.qualifications %>`));
	const jobFieldSelectInstance = te.Select.getInstance(
		document.querySelector("#job-field-sel")
	);
	jobFieldSelectInstance.setValue("<%= user.applicant_details.job_field %>");
	// console.log("<%= user.applicant_details.job_field %>");

	const skillLevelSelectInstance = te.Select.getInstance(
		document.querySelector("#skill-level-sel")
	);
	skillLevelSelectInstance.setValue(
		"<%= user.applicant_details.skill_level %>"
	);
	// console.log("<%= user.applicant_details.skill_level %>");

	const jobTypeSelectInstance = te.Select.getInstance(
		document.querySelector("#job-type-sel")
	);
	jobTypeSelectInstance.setValue(
		"<%= user.applicant_details.preferred_job_type %>"
	);
	// console.log("<%= user.applicant_details.job_field %>");

	const workScheduleSelectInstance = te.Select.getInstance(
		document.querySelector("#work-schedule-sel")
	);
	workScheduleSelectInstance.setValue(
		"<%= user.applicant_details.work_schedule %>"
	);
	// console.log("<%= user.applicant_details.job_field %>");

	const jobLocationSelectInstance = te.Select.getInstance(
		document.querySelector("#job-location-sel")
	);
	jobLocationSelectInstance.setValue(
		"<%= user.applicant_details.location_type %>"
	);
	// console.log("<%= user.applicant_details.job_field %>");

	const chipsInitial = document.querySelector("#skil-set");

	const chipsInitialInstance = new te.ChipsInput(chipsInitial, {
		initialValues: JSON.parse(`<%- user.applicant_details.skill_set %>`).map(
			(it) => ({ tag: it })
		),
		labelText: "Skill set",
	});

	// console.log(JSON.parse(`<%- user.applicant_details.skill_set %>`));

	workDetailsForm.addEventListener("submit", (e) => {
		e.preventDefault();
		console.log("not submit");
	});

	workDetailsForm
		.querySelector("button[type='save']")
		.addEventListener("click", async (e) => {
			const url = "/api/applicant/work-details";

			const skills = [];
			document
				.querySelectorAll("#skil-set span[data-te-chip-text]")
				.forEach((e) => skills.push(e.textContent));

			const data = {
				job_field: jobFieldSelectInstance.value,
				qualifications: JSON.stringify(qualSelectInstance.value),
				skill_set: JSON.stringify(skills),
				skill_level: skillLevelSelectInstance.value,
			};
			console.log(data);
			const formData = new FormData();
			for (const key in data) {
				formData.append(key, data[key]);
			}

			// console.log(formData);

			const res = await (
				await fetch(url, {
					method: "put",
					headers: {},
					body: formData,
				})
			).json();

			console.log(res);
			if (!res.ok) {
				showToast({ duration: 5000, text: res.error.message, type: "error" });
				return;
			}
			showToast({ duration: 5000, text: res.message, type: "success" });
		});

	document
		.querySelector("#save-job-pref")
		.addEventListener("click", async (e) => {
			const url = "/api/applicant/job-preference";
			const data = {
				Job_location: jobLocationSelectInstance.value,
				work_schedule: workScheduleSelectInstance.value,
				job_type: jobTypeSelectInstance.value,
			};
			const formData = new FormData();
			for (const key in data) {
				formData.append(key, data[key]);
			}

			const res = await (
				await fetch(url, {
					method: "put",
					headers: {},
					body: formData,
				})
			).json();

			console.log(res);
			if (!res.ok) {
				showToast({ duration: 5000, text: res.error.message, type: "error" });
				return;
			}
			showToast({ duration: 5000, text: res.message, type: "success" });
		});
</script>
