<!DOCTYPE html>
<html lang="en">
	<head>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
			integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/jpg" href="/logo.jpg" />
		<link rel="stylesheet" href="/toast-notification/toast.css">
		<link href="/css/output.css" rel="stylesheet" />
		<title><%= title %></title>
		<script defer src="/alpinejs/cdn.min.js"></script>
	</head>
	<body class="bg-primary-accent-200 h-screen">
<nav 	
	data-te-sticky-init

	class="flex-no-wrap relative flex w-full items-center justify-between bg-[#FBFBFB] py-2 shadow-xl shadow-black/5 dark:bg-neutral-600 dark:shadow-black/10 lg:flex-wrap lg:justify-start lg:py-4 px-5 lg:px-10"
>
	<div class="flex w-full flex-wrap items-center justify-between px-3 lg:py-4">
		<!-- Hamburger button for mobile view -->
		<button
			class="block border-0 bg-transparent px-2 text-neutral-500 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200 lg:hidden"
			type="button"
			data-te-collapse-init
			data-te-target="#navbarSupportedContent1"
			aria-controls="navbarSupportedContent1"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<!-- Hamburger icon -->
			<span class="[&>svg]:w-7">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
					fill="currentColor"
					class="h-7 w-7"
				>
					<path
						fill-rule="evenodd"
						d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
						clip-rule="evenodd"
					/>
				</svg>
			</span>
		</button>

		<!-- Collapsible navigation container -->
		<div
			class="!visible hidden flex-grow basis-[100%] items-center lg:!flex lg:basis-auto"
			id="navbarSupportedContent1"
			data-te-collapse-item
		>
			<a
				class="mb-4 ml-2 mr-5 mt-3 flex items-center text-neutral-900 hover:text-neutral-900 focus:text-neutral-900 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400 lg:mb-0 lg:mt-0"
				href="/"
			>
				<img
					src="/logo.jpg"
					class="h-[30px] rounded-md"
					alt="Edenjobs Logo"
					loading="lazy"
				/>
			</a>
			<a href="/" class=""><h2 class="font-semibold textl">EdenJobs</h2></a>
		</div>
		<div
			class="!visible hidden flex-grow basis-[100%] items-center lg:!flex lg:basis-auto mt-10 lg:mt-0"
			id="navbarSupportedContent1"
			data-te-collapse-item
		>
			<!-- Logo -->
			<!-- Left navigation links -->
			<ul
				class="list-style-none mr-auto flex flex-col pl-0 lg:flex-row"
				data-te-navbar-nav-ref
			>
				<li class="mb-4 lg:mb-0 lg:pr-2  <%= page === "dashboard" ? "border-b-4  border-primary-700":"" %>" data-te-nav-item-ref>
					<a
						class="<%= page === "dashboard" ? "text-primary-700 font-semibold" : "text-neutral-500" %> transition duration-200 hover:text-neutral-700 hover:ease-in-out focus:text-neutral-700 disabled:text-black/30 motion-reduce:transition-none dark:text-neutral-200 dark:hover:text-neutral-300 dark:focus:text-neutral-300 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-zinc-400"
						href="/recruiter/dashboard"
						data-te-nav-link-ref
						>Dashboard</a
					>
				</li>
				<li class="mb-4 lg:mb-0 lg:pr-2  <%= page === "jobs" ? "border-b-4  border-primary-700":"" %>" data-te-nav-item-ref>
					<a
						class="<%= page === "jobs" ? "text-primary-700 font-semibold" : "text-neutral-500" %> transition duration-200 hover:text-neutral-700 hover:ease-in-out focus:text-neutral-700 disabled:text-black/30 motion-reduce:transition-none dark:text-neutral-200 dark:hover:text-neutral-300 dark:focus:text-neutral-300 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400"
						href="/recruiter/jobs"
						data-te-nav-link-ref
						>Jobs</a
					>
				</li>
				<li class="mb-4 lg:mb-0 lg:pr-2  <%= page === "application" ? "border-b-4  border-primary-700":"" %>" data-te-nav-item-ref>
					<a
						class="<%= page === "application" ? "text-primary-700 font-semibold" : "text-neutral-500" %> transition duration-200 hover:text-neutral-700 hover:ease-in-out focus:text-neutral-700 disabled:text-black/30 motion-reduce:transition-none dark:text-neutral-200 dark:hover:text-neutral-300 dark:focus:text-neutral-300 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400"
						href="/recruiter/applications"
						data-te-nav-link-ref
						>Applications</a
					>
				</li>
				<li class="mb-4 lg:mb-0 lg:pr-2  <%= page === "profile" ? "border-b-4  border-primary-700":"" %>" data-te-nav-item-ref>
					<a
						class="<%= page === "profile" ? "text-primary-700 font-semibold" : "text-neutral-500" %> transition duration-200 hover:text-neutral-700 hover:ease-in-out focus:text-neutral-700 disabled:text-black/30 motion-reduce:transition-none dark:text-neutral-200 dark:hover:text-neutral-300 dark:focus:text-neutral-300 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400"
						href="/recruiter/profile"
						data-te-nav-link-ref
						>Profile</a
					>
				</li>
			</ul>
		</div>

		<!-- Right elements -->
		<div class="relative flex items-center">
			

			<!-- Container with two dropdown menus -->
			<div
				class="relative"
				data-te-dropdown-ref
				data-te-dropdown-alignment="end"
			>
				<!-- First dropdown trigger -->
			
			</div>

			<!-- Second dropdown container -->
			<span class="me-2 ms-3"><%= user.username %></span>
			<div
				class="relative"
				data-te-dropdown-ref
				data-te-dropdown-alignment="end"
			>
				<a
					class="hidden-arrow flex items-center whitespace-nowrap transition duration-150 ease-in-out motion-reduce:transition-none"
					href="#"
					id="profile-drop-down"
					role="button"
					data-te-dropdown-toggle-ref
					aria-expanded="false"
				>
					<!-- User avatar -->
					<%# JSON.stringify(user) %>
					<img
						src="<%= user.is_applicant ? user.applicant_details?.avatar:user.employer_details.company_logo %>"
						class="rounded-full"
						style="height: 25px; width: 25px"
						alt=""
						loading="lazy"
					/>
				</a>
				<!-- Second dropdown menu -->
				<ul
					class="absolute z-[1000] float-left right-0 m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-700 [&[data-te-dropdown-show]]:block"
					aria-labelledby="profile-drop-down"
					data-te-dropdown-menu-ref
				>
					<!-- Second dropdown menu items -->
					

					<li>
						<a 
							class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-white/30"
							href="/recruiter/profile"
							data-te-dropdown-item-ref
						>
							Profile
						</a>
					</li>
					<li>
						<a
							class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-white/30"
							href="#"
							data-te-dropdown-item-ref
						>
							Edit profile
						</a>
					</li>
					<!-- <hr class="my-4" /> -->
					<hr class="my-2 bg-neutral-700" />
					<li>
						<a
							class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-danger-600 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-white/30"
							href="/api/auth/logout"
							data-te-dropdown-item-ref
						>
							Log out
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>

